<div class="container">
  <header>
    <div class="selected-days">
      <label>{{ this.startDate?.fullDate | date }} - </label>
      <label>{{ this.endDate?.fullDate | date }}</label>
    </div>
    <div class="selected-months">
      <div>{{ getFullMonth() }} - {{ currentYear }}</div>
      <div class="buttons">
        <button (click)="onPreviousMonth()">
          <span class="material-symbols-outlined"> chevron_left </span>
        </button>
        <button (click)="onNextMonth()">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="options">
      <ul>
        <li (click)="onMacro('today')">Today</li>
        <li (click)="onMacro('this-week')">This week</li>
        <li (click)="onMacro('this-month')">This month</li>
        <li (click)="onMacro('this-year')">This year</li>
        <li (click)="onMacro('clear')">Clear</li>
      </ul>
    </div>
    <div class="calendar">
      <table>
        <thead>
          <th>s</th>
          <th>m</th>
          <th>t</th>
          <th>w</th>
          <th>t</th>
          <th>f</th>
          <th>s</th>
        </thead>
        <tbody>
          <tr *ngFor="let week of days">
            <td *ngFor="let day of week">
              <button
                *ngIf="day"
                class="day"
                [ngClass]="{
                  selected: day.selected,
                  endDate: checkEndDate(day.id),
                  inRange: day.inRange
                }"
                (click)="selectDay(day)"
              >
                <spand
                  class="span"
                  *ngIf="day.day"
                  [ngClass]="{
                    inRange: day.inRange,
                    selected: day.selected
                  }"
                >
                  {{ day.day }}
                </spand>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <button (click)="onClose()">Cancel</button>
    <button (click)="onSubmit()">Apply</button>
  </footer>
</div>
