<div class="container">
  <header>
    <div class="selected-days">
      <label>{{ this.startDate?.fullDate | date }}</label>
      <label *ngIf="this.startDate && this.endDate">-</label>
      <label>{{ this.endDate?.fullDate | date }}</label>
    </div>
    <div class="selected-months">
      <div>{{ getFullMonth() }} - {{ currentYear }}</div>
      <div class="buttons">
        <button (click)="loadPreviousMonth()">
          <span class="material-symbols-outlined"> chevron_left </span>
        </button>
        <button (click)="loadNextMonth()">
          <span class="material-symbols-outlined"> chevron_right </span>
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="options">
      <ul>
        <li (click)="runMacro(MacroEnum.THIS_WEEK)">This week</li>
        <li (click)="runMacro(MacroEnum.THIS_MONTH)">This month</li>
        <li (click)="runMacro(MacroEnum.THIS_YEAR)">This year</li>
        <li (click)="runMacro(MacroEnum.LAST_15_DAYS)">Last fifteen days</li>
        <li (click)="runMacro(MacroEnum.LAST_30_DAYS)">Last thirty days</li>
        <li (click)="runMacro(MacroEnum.LAST_90_DAYS)">Last ninety days</li>
        <li (click)="runMacro(MacroEnum.CLEAR)">Clear</li>
      </ul>
    </div>
    <div class="calendar">
      <table>
        <thead>
        <th>s</th>
        <th>m</th>
        <th>t</th>
        <th>w</th>
        <th>t</th>
        <th>f</th>
        <th>s</th>
        </thead>
        <tbody>
        <tr *ngFor="let week of days">
          <td *ngFor="let day of week">
            <button
              *ngIf="day"
              class="day"
              [ngClass]="{
                  selected: day.selected,
                  endDate: checkEndDate(day.id),
                  inRange: day.inRange
                }"
              (click)="selectDay(day)"
            >
                <span
                  class="span"
                  *ngIf="day.day"
                  [ngClass]="{
                    inRange: day.inRange,
                    selected: day.selected,
                    sameDay: checkFirstDayIsEqualLastDay()
                  }"
                >
                  {{ day.day }}
                </span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <button (click)="onClose()">Cancel</button>
    <button (click)="onSubmit()">Apply</button>
  </footer>
</div>
