* {
  margin: 0;
  padding: 0;
}

.day {
  width: 100%;
  height: 100%;
  background: none;
  text-align: center;
  outline: none;
  font-family: inherit;
  margin: 0;
  border: none;

  &.selected {
    background: #DBEABF;
    border-radius: 50% 0  0 50%;
  }

  &.endDate {
    background: #DBEABF;
    border-radius: 0 50% 50% 0;
  }

  &.inRange {
    background: #DBEABF;
    border: 0;
  }

  &.sameDay {
    background: #7DB61C;
    color: #fff;
  }

  .span {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    line-height: 1;
    border-radius: 50%;
    background: transparent;
    border: none;
    padding: 10px 12px;

    &:hover {
      background: none;
      border: #7DB61C solid 0.5px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 90%;
      height: 90%;
      line-height: 1;
      border-radius: 50%;
      background: transparent;
      padding: 9px 11px;
    }

    &.selected {
      background: #7DB61C;
      color: #fff;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.container{
  width: fit-content;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  min-height: 350px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;

  header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .selected-days {
      display: flex;
      gap: 10px;
    }

    .selected-months {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-weight: bold;
    }
  }

  main{
    display: flex;
    flex-grow: 1;

    .options {
      width: 150px;

      ul {
        list-style: none;

        li {
          padding: 2px;

          border: transparent solid 0.5px;

          &.selected {
            color: #7DB61C;
          }

          &:hover {
            cursor: pointer;
            font-weight: bold;

            border: #7DB61C solid 0.5px;
            padding: 2px 5px;
            border-radius: 4px;

            width: fit-content;
          }

          & + li {
            margin-top: 5px;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    > button {
      border: none;
      padding: 10px 15px;
      background: none;

      &:last-child{
        color: #7DB61C;
      }

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

}

table {
  border-collapse: collapse;

  thead {
    th{
      text-transform: uppercase;
    }
  }
}

.buttons {
  display: flex;
  gap: 5px;

  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    line-height: 1;
    border-radius: 50%;
    background: transparent;
    border: none;
    padding: 10px 12px;


    &:hover {
      background: none;
      border: #7DB61C solid 0.5px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 90%;
      height: 90%;
      line-height: 1;
      border-radius: 50%;
      background: transparent;
      padding: 9px 11px;
    }
  }
}
