<div class="container">
  <div class="header">
    <div>{{getFullMonth()}} - {{currentYear}}</div>
    <div>
      <button (click)="previousMonth()">previous</button>
      <button (click)="nextMonth()">next</button>
    </div>
  </div>
  <table>
    <thead>
    <th>s</th>
    <th>m</th>
    <th>t</th>
    <th>w</th>
    <th>t</th>
    <th>f</th>
    <th>s</th>
    </thead>
    <tbody>
    <tr>
      <td colspan="7">{{getSmallMonth()}}</td>
    </tr>
    <tr *ngFor="let week of days">
      <td *ngFor="let day of week">
        <button
          *ngIf="day"
          class="day"
          [ngClass]="{selected: day.selected, endDate: isEndDate(day.id), inRange: day.inRange}"
          (click)="selectDay(day)"
        >
          <spand
            class="span"
            [ngClass]="{
            inRange: day.inRange,
            selected: day.selected}">
            {{day.day}}
          </spand>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
